[submodule "musnix"]
	path = musnix
	url = https://github.com/musnix/musnix.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/nix-community/home-manager.git
	branch = release-24.05
[submodule "disko"]
	path = disko
	url = https://github.com/nix-community/disko
[submodule "nixos-hardware"]
	path = nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
